<div class="custom-footer">
    <span class="footer-text">
        <span><%- value %></span>
    </span>
    <button type="submit" class="btn btn-light rounded-circle footer-icon">
        <i class="bi bi-chevron-right"></i>
    </button>
</div>
