<div class="container-fluid homepage-header">
    <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <div class="homepage-logo-container" onclick="goToHomePage()">
                <img src="logo - weconnect.svg" class="logo1" alt="logo img">
            </div>
        </div>
        <div class="col-3 text-end">
            <div class="notification me-3">
                <img src="Bell_pin_light.svg" alt="notification_icon">
            </div>
            <div class="setting" onclick="goToSettingsPage()">
                <img src="Setting.svg" alt="setting_icon">
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light navbar-height">
    <form class="container-fluid">
      <div class="input-group">
        <span class="input-group-text bg-custom" id="basic-addon1">
            <img src="search.svg" alt="search icon">
        </span>
        <input type="text" id="searchuser" class="form-control search-bar bg-custom" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
        <span class="input-group-text bg-custom" id="basic-addon1">
            <img src="mic.svg" alt="search icon">
        </span>
      </div>
    </form>
</nav>

<!-- <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">검색 결과</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div> -->

<div class="modal-body">
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="searchbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<script>
    function goToHomePage() {
      window.location.href = 'home';
  }
    function goToSettingsPage() {
        window.location.href = 'settings';
    }
