<div class="container-fluid homepage-header">
    <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <div class="homepage-logo-container" onclick="goToHomePage()">
                <img src="logo - weconnect.svg" class="logo1" alt="logo img">
            </div>
        </div>
        <div class="col-3 text-end">
            <div class="notification me-3">
                <img src="Bell_pin_light.svg" alt="notification_icon">
            </div>
            <div class="setting" onclick="goToSettingsPage()">
                <img src="Setting.svg" alt="setting_icon">
            </div>
        </div>
    </div>
</div>
<script>
    function goToHomePage() {
      window.location.href = 'home';
  }
    function goToSettingsPage() {
        window.location.href = 'settings';
    }
</script>