<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link>
    <link rel="stylesheet" href="meetingStyle.css" />

    </script>
  </head>
  <body>
    <header><%- include("./homepage_header.ejs") %></header>

    <div class="container text-center">
      <header>
          <h1 class="text-primary my-3" id="roomName"></h1>
      </header>
      <main>
          <div class="mt-5" id="welcome">
              <form><input class="form-control mb-3" id="inputRoomId" type="text" placeholder="room name" required><button class="btn btn-primary">Enter Room</button></form>
          </div>
          <div id="call">
              <div id="myStream">
                  <div class="text-start"><button class="btn btn-danger" id="leave">Leave</button></div><video class="mx-3" id="myFace" autoplay playsinline width="400" height="400"></video><video class="mx-3" id="peerFace" autoplay playsinline width="400" height="400"></video>
                  <div
                      class="mb-3 d-flex flex-row align-items-center justify-content-between">
                      <div><select class="form-select mb-2" id="cameras"></select></div>
                      <div class="btn-group d-flex ml-2"><button class="btn btn-primary mr-2 px-3" id="mute"><i class="bi bi-mic-fill"></i></button><button class="btn btn-primary px-3" id="camera"><i class="bi bi-camera-video-fill">                                                       </i></button></div>
              </div>
              <div>
                  <ul class="list-group mb-3" id="chat"></ul>
                  <form id="message"><input type="text" required><button>Send</button></form>
              </div>
          </div>
  </div>
    </main>
    <footer><%- include("./homepage_footer.ejs") %></footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="meeting.js"></script>
  </body>
</html>
