<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weconnect - transcription</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="transcriptStyle.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include("./homepage_header.ejs") %>
    </header>

    <div class="transcript-container m-3">
        <div class="transcript-text">Transcript History</div>
    </div>
    
    <div class="chatting_receiver_container">
        <div class="chatting_receiver">
            
        </div>
    </div>
    
    <div class="chatting_line"></div>
    <!-- <div class="line-container">
    </div> -->

    <div class="container d-flex align-items-center justify-content-between">
      <h5 class="translate-text">Translate to: </h5>
      <div class="col-5 col-md-3 text-center">
          <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  Language
              </button>
              <ul class="dropdown-menu targetLang" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item" id="translate-en" data-value="English" data-language="en">English</a></li>
                  <li><a class="dropdown-item" id="translate-fr" data-value="Français" data-language="fr">Français</a></li>
                  <li><a class="dropdown-item" id="translate-kr" data-value="한국어" data-language="ko">한국어</a></li>
                  <li><a class="dropdown-item" id="translate-hant" data-value="繁體中文" data-language="zh-Hant">繁體中文</a></li>
                  <li><a class="dropdown-item" id="translate-hans" data-value="简体中文" data-language="zh-Hans">简体中文</a></li>
                  <li><a class="dropdown-item" id="translate-jp" data-value="日本語" data-language="ja">日本語</a></li>
                  <li><a class="dropdown-item" id="translate-ru" data-value="русский" data-language="ru_RU">русский</a></li>
                  <li><a class="dropdown-item" id="translate-vi" data-value="Tiếng Việt" data-language="vi">Tiếng Việt</a></li>
              </ul>
          </div>
      </div>
      <div class="col-md-3 mb-md-0 text-center translate-btn">
          <div class="img-container">
              <img src="transcript_switch_btn.svg" class="img-fluid translateImg" alt="switch_btn">
          </div>
      </div>
  </div>
  

    <div class="transcript-section">
        <!-- where transcriptions go -->
    </div>

    <footer>
        <%- include("./homepage_footer.ejs") %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.4/vfs_fonts.js"></script>
    <script src="transcription.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>