:root {
    --font-style-1: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    --gradient-color: linear-gradient(to right, #2277EE, #7722BB);
}

/* authentication page(login / register page) */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.back {
    color: #0066EE;
    font-size: 1.5rem;
    cursor: pointer;
}

.setting {
    font-size: 1rem;
    cursor: pointer;
}

.bi-chevron-left {
    color: rgb(42, 100, 229);
    font-size: 33px;
    line-height: 44px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo1 {
    max-width: 100%;
    max-height: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.logo1 {
    width: 45vw;
    height: auto;
}

.bold {
    font-weight: bold;
    margin: 0;
}

.login {
    margin: 20px;
}

.custom-form input[type="email"],
.custom-form input[type="password"] {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.custom-form input[type="email"]:focus,
.custom-form input[type="password"]:focus {
    border-color: #80bdff;
    box-shadow: none;
}

.custom-clear-btn {
    border: none;
    background-color: transparent;
    color: #6c757d;
    font-size: 1rem;
    cursor: pointer;
}

.custom-container {
    margin-top: 20px;
}

.login-text {
    background: linear-gradient(#2277EE, #7722BB);
    font-weight: lighter;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7vw;
    margin-bottom: 20px;
}

.external-login {
    font-size: 3vw;
    font-family: var(--font-style-1);
    font-weight: 700;
    color: rgb(104, 104, 104);
}

.form-label {
    font-family: var(--font-style-1);
    font-weight: 700;
}
  
.signup-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.signup-card {
    background-color: white;
    width: 300px;
    height: 48px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    outline: solid 1px #d9d9d9;
    cursor: pointer;
    padding-left: 10px;
    margin-top: 5vw;
    box-shadow: none;
}

#signup-btn {
    text-decoration-line: none;
}

@media screen and (min-width: 768px) {
    .signup-card {
        width: 100%;
    }
}

.signup-card img {
    margin-right: 10px;
    height: 24px;
}

.signup-card span {
    font-family: var(--font-style-1);
    font-weight: 700;
    font-size: 14px;
}

.form-check-label {
    font-size: 14px;
    color: #333;
}

.custom-footer {
    width: 100%;
    height: 83px;
    background: linear-gradient(to right, #2277EE, #7722BB);
    color: white;
    text-align: right;
    line-height: 83px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-right: 20px;
    z-index: 999;
}

.footer-icon {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    font-size: 1.5rem;
    line-height: 46px;
    cursor: pointer;
    text-align: center;
    position: relative;
    opacity: 0.5;
    margin-left: 10px;
}

.btn-white {
    background-color: white;
    opacity: 0.5;
}


.footer-icon i {
    color: linear-gradient(to right, #2277EE, #7722BB);
}

.footer-text span {
    margin-right: 10px;
    opacity: 0.5;
}

body {
    margin: 0;
    padding-bottom: 100px;
}


/* homepage */
div.setting,
div.notification.me-3 {
    display: inline-block;
}

.homepage-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bg-custom {
    background-color: rgba(118, 118, 128, 0.12) !important;
}

.input-group-text {
    border: none !important;
}

.form-control {
    border: none !important;
}

/* footer */
.navbar-nav .nav-link {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

.navbar-nav .nav-text {
    font-size: 12px;
}

.navbar-nav .nav-item {
    margin-right: 15px; /* 아이템 간격 조정 */
    margin-left: 15px;
}

.home-footer {
    border-top: 1px solid rgb(178, 178, 178, 0.5);
    border-left: none;
    border-right: none;
    border-bottom: none;
}


/* meeting */
.button-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-flex;
    align-items: center;
    /* height: 104px;
    width: 191px; */
    border: none;
    background-color: transparent;
    justify-content: flex-end;
}

.btn p {
    margin: 0;
    margin-left: 30%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.btn-icon {
    margin-left: 80%;
    margin-bottom: 20%;
    height: 24px; /* 이미지 크기 조절 */
    width: 24px;
}



.meeting_btn-blue {
    background-color: #007bff !important; /* 파란색 */
}

.meeting_btn-purple {
    background-color: #6f42c1 !important; /* 보라색 */
}


/* meeting start modal */
.modal.fade .modal-dialog {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    max-width: none;
    height: auto;

}

.modal.modal-center {
    text-align: center;
}

.modal-dialog {
    height: 60vw !important;
}

.modal-footer {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.new-meeting-btn {
    width: 100%;
    height: 42px;
}
